// overrides
//$body-bg: #eee;
$font-family-base: "IRANSans", sans-serif !default;
$font-family-alt: "IRANSans", sans-serif !default;
$font-size-base: .9rem;

// Bootstrap and its default variables
@import '../../node_modules/bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '../../node_modules/bootstrap-vue/src/index.scss';

@import 'bootstrap-rtl';
@import 'bootstrap-overrides';
@import 'markdown';
